Repository talentmaker/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

fix prettier config
  .prettierrc.yml
Due: prettier --write

CI: change to pnpm
  .github/workflows/build.yml
Due: prettier --write

CI: update CI
  .github/workflows/build.yml
Due: prettier --write

CI: update amplify.yml
  amplify.yml
Due: prettier --write

deps: change `source-map` version
  package.json
  pnpm-lock.yaml
Due: prettier --write

CI(Amplify): remove node_modules from cache
  amplify.yml
Due: prettier --write

revert CI changes
  amplify.yml
  package.json
Due: prettier --write

fix: remove addNotification call
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix deps
  pnpm-lock.yaml
Due: prettier --write

CI: fix amplify config
  amplify.yml
Due: prettier --write

CI: remove cache from amplify
  amplify.yml
Due: prettier --write

fix: working new competition flow
  src/adapters/competition.ts
  src/components/pages/competition/editModal.tsx
  src/components/pages/competition/utils.tsx
  src/components/pages/competitions/index.tsx
  src/schemas/competition.ts
  src/schemas/competitions.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(theme): fix more dark theme quirks
  src/components/pages/competition/editModal.tsx
  src/components/pages/project/editModal.tsx
  src/schemas/competitions.ts
  src/styles/global.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

feat(theme): use prefers-color-scheme for loading page
  public/index.html
Due: prettier --write

feat(auth): redirect to profile after login
  src/components/pages/auth/login.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(auth): add "try to remember me" button
  src/components/pages/auth/login.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat: use head manager
  src/components/route/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: add react-helmet to package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(nav): add signup as seperate button
  src/components/nav/index.tsx
  src/components/nav/routes.ts
  src/components/pages/auth/login.tsx
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

change repo link
  src/components/footer/index.tsx
  src/components/nav/routes.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(nav): pass in name prop properly
  src/components/nav/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

refactor: remove unnecessary uses of `useCallback`
  src/components/nav/index.tsx
  src/components/pages/auth/login.tsx
  src/components/pages/auth/register.tsx
  src/components/pages/competition/buttons.tsx
  src/components/pages/competition/editModal.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/project/editModal.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
  src/hooks/useWindowSize.ts
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(competition, project, markdown): update markdown properly
  src/components/markdown/editor/editor.tsx
  src/components/pages/competition/index.tsx
  src/hooks/useAdapter.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(competition, project, markdown): update markdown properly
  src/components/markdown/editor/editor.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/project/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

use custom route component
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(users): show users and allow searching for users
  src/adapters/user.ts
  src/components/pages/talents/index.tsx
  src/hooks/index.ts
  src/hooks/useAdapter.ts
  src/hooks/useDebounce.ts
  src/hooks/useFunctionMemo.ts
  src/index.tsx
  src/schemas/user.ts
  src/styles/global.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

fix padding on profile page
  src/components/pages/profile/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix: rework padding on grids
  src/components/gridItem/index.module.scss
  src/components/gridItem/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/projects/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

feat(users): improve user search interface
  src/components/pages/talents/index.tsx
  src/hooks/index.ts
  src/hooks/useQuery.ts
  src/hooks/useWindowSize.ts
  src/index.tsx
  src/init/index.ts
  src/init/popStateListener.ts
  src/pages/project.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat: show no results message
  src/components/pages/competitions/index.tsx
  src/components/pages/projects/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix: mobile user link
  src/components/nav/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

refactor: use `useQuery` for auth
  src/components/pages/auth/index.tsx
  src/hooks/useQuery.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

minor changes
  public/index.html
  src/hooks/index.ts
  src/hooks/useAdapter.ts
  src/images/profile.svg
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(auth): allow password change
  src/adapters/auth.tsx
  src/components/formik/input.tsx
  src/components/pages/editProfile/index.tsx
  src/components/pages/home/problemSolving.svg
  src/components/pages/profile/index.tsx
  src/index.tsx
  src/pages/editProfile.ts
  src/pages/index.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(SEO): add meta tags for future dynamic rendering
  public/index.html
  src/components/metaTags/index.tsx
  src/components/pages/404/index.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/editProfile/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/profile/index.tsx
  src/components/pages/project/index.tsx
  src/components/pages/talents/index.tsx
  src/components/route/index.tsx
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix: show projects properly
  src/adapters/project.ts
  src/components/metaTags/index.tsx
  src/components/pages/404/index.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/profile/index.tsx
  src/components/pages/projects/index.tsx
  src/components/pages/talents/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: update browserslist
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: scroll to header will scroll when API loads
  src/components/markdown/scrollToHeader.ts
  src/components/pages/competition/index.tsx
  src/components/pages/project/index.tsx
  src/hooks/useAdapter.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

Path conditions:
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml,html,md}
  eslint --fix --cache --max-warnings=0: any of: src/{**/*,*}.{ts,js,tsx,jsx}
  stylelint --fix --cache --max-warnings=0: any of: *.{css,scss,sass}
