Repository talentmaker/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

update lint.sh
  lint.sh
Due: none

feat: add resend confirmation email button
  lint.sh
  src/adapters/auth/confirm.ts
  src/components/pages/profile/index.tsx
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

refactor: rename `isOrg` to `isOrganization` to match API conventions
  src/components/pages/competition/buttons.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/profile/index.tsx
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

make `isOrganization` required
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: update deps
  .husky/.gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: use `useAdapter` hook
  src/adapters/auth/tokens.ts
  src/adapters/utils/createAdapter.ts
  src/components/pages/competition/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
  src/hooks/index.ts
  src/hooks/useAdapter.ts
  src/schemas/project.ts
  src/schemas/projects.ts
  src/styles/_utilities.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

fix(UI): apply Bootstrap theme colours after 5.1
  src/styles/_variables.scss
Due: stylelint --fix --cache --max-warnings=0

fix(useAdapter): check if loading
  src/hooks/useAdapter.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: add browserslist
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: upgrade dateplus
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: rename get routes for API
  src/adapters/competition.ts
  src/adapters/competitions.ts
  src/adapters/project.ts
  src/adapters/projects.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(markdown): apply target _blank properly
  src/components/markdown/anchor.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(projects): add better project editing
  public/index.html
  src/adapters/editCompetition.ts
  src/adapters/editProject.ts
  src/components/detailedItem/index.tsx
  src/components/formik/input.tsx
  src/components/markdown/editor/editor.tsx
  src/components/markdown/editor/index.tsx
  src/components/markdown/index.tsx
  src/components/pages/project/editModal.tsx
  src/components/pages/project/index.tsx
  src/hooks/useAdapter.ts
  src/styles/_bootstrap.scss
  src/styles/_variables.scss
  src/styles/global.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

fix(projects): hide edit button if user can't edit
  src/components/markdown/editor/editor.tsx
  src/components/pages/project/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(competitions): add better competition editing
  src/adapters/editCompetition.ts
  src/components/pages/competition/buttons.tsx
  src/components/pages/competition/editModal.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/project/index.tsx
  src/schemas/competition.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

style: update eslint config and fix
  .eslintrc.js
  src/components/formik/input.tsx
  src/components/pages/competition/buttons.tsx
  src/components/pages/editProject/components.tsx
  src/components/pages/profile/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

refactor: refine adapter usage
  src/adapters/auth.tsx
  src/adapters/auth/confirm.ts
  src/adapters/auth/login.ts
  src/adapters/auth/register.ts
  src/adapters/auth/tokens.ts
  src/adapters/competition.ts
  src/adapters/competitions.ts
  src/adapters/editCompetition.ts
  src/adapters/editProject.ts
  src/adapters/index.ts
  src/adapters/organization.ts
  src/adapters/project.ts
  src/adapters/projects.ts
  src/adapters/team.ts
  src/components/pages/auth/login.tsx
  src/components/pages/auth/register.tsx
  src/components/pages/competition/buttons.tsx
  src/components/pages/competition/editModal.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/profile/index.tsx
  src/components/pages/project/editModal.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(projects/competitions): refine UI
  README.md
  src/adapters/team.ts
  src/components/gridItem/index.tsx
  src/components/pages/competition/buttons.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/editCompetition/components.tsx
  src/components/pages/editCompetition/index.tsx
  src/components/pages/editProject/components.tsx
  src/components/pages/editProject/index.tsx
  src/components/pages/projects/index.tsx
  src/index.tsx
  src/pages/editCompetition.tsx
  src/pages/editProject.tsx
  src/pages/index.ts
  src/schemas/projects.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(utils/request): use phrased status for errors
  src/utils/request.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(nav): show username instead of "Profile"
  src/components/nav/index.tsx
  src/components/nav/routes.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(projects): add import from Github for projects
  src/adapters/github.ts
  src/adapters/project.ts
  src/components/newProjectModal/index.tsx
  src/components/pages/competition/buttons.tsx
  src/schemas/github.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(project): remove video container for undefined `src`
  src/components/detailedItem/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(project): add linebreaks around invite link
  src/components/pages/project/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(project): remove empty square on empty topic
  src/components/detailedItem/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(project): add sync with github button
  src/adapters/github.ts
  src/adapters/index.ts
  src/components/newProjectModal/index.tsx
  src/components/pages/project/editModal.tsx
  tsconfig.json
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(auth): improve confirmation flow
  package.json
  pnpm-lock.yaml
  src/adapters/auth.tsx
  src/components/pages/auth/login.tsx
  src/utils/request.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat: show version info
  package.json
  src/components/footer/index.tsx
  src/react-app-env.d.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix: use react-bootstrap for popovers
  src/components/bootstrap/index.ts
  src/components/bootstrap/popover.ts
  src/components/bootstrap/tooltip.ts
  src/components/pages/competition/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

perf: remove useless promises with localstorage
  src/components/pages/competition/index.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/project/index.tsx
  src/components/pages/projects/index.tsx
  src/utils/cache.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(footer): add home to footer
  src/components/footer/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat: add dark mode
  src/components/detailedItem/index.module.scss
  src/components/detailedItem/index.tsx
  src/components/footer/index.module.scss
  src/components/gridItem/index.module.scss
  src/components/markdown/blockquote.scss
  src/components/markdown/heading.module.scss
  src/components/markdown/styles.module.scss
  src/components/nav/index.module.scss
  src/components/nav/index.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/home/_searchbar.scss
  src/components/pages/profile/index.tsx
  src/components/pages/project/index.tsx
  src/contexts/index.ts
  src/contexts/themeContext.ts
  src/index.tsx
  src/styles/_variables.scss
  src/styles/global.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

feat: use `prefers-color-scheme` for theme
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(profile): show own projects in profile
  src/adapters/project.ts
  src/components/pages/profile/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

refactor: create `useSearch` hook
  src/hooks/useSearch.ts
  src/pages/project.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: bump prismjs to 1.25.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(users): allow seeing other users' profile
  src/adapters/index.ts
  src/adapters/user.ts
  src/components/nav/index.tsx
  src/components/nav/routes.ts
  src/components/pages/profile/index.tsx
  src/components/pages/project/index.tsx
  src/index.tsx
  src/pages/profile.ts
  src/pages/profile.tsx
  src/schemas/user.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

style: remove console.log
  src/adapters/user.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(UI): fix dark mode problems
  src/index.tsx
  src/styles/_variables.scss
  src/styles/global.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

Path conditions:
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml,html,md}
  eslint --fix --cache --max-warnings=0: any of: src/{**/*,*}.{ts,js,tsx,jsx}
  stylelint --fix --cache --max-warnings=0: any of: *.{css,scss,sass}
