Repository talentmaker/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx,json,yml,yaml,html,md}":
  - prettier --write
"src/{**/*,*}.{ts,js,tsx,jsx}":
  - eslint --fix --cache --max-warnings=0
"*.{css,scss,sass}":
  - stylelint --fix --cache --max-warnings=0

remove future deadline restriction
  src/components/pages/competition/editModal.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(forms): use Formik `Form` and submit on enter
  src/components/pages/competition/editModal.tsx
  src/components/pages/project/editModal.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(project): fix new project creation flow
  src/components/newProjectModal/index.tsx
  src/components/pages/project/index.tsx
  src/schemas/project.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

refactor: put debounce searcher in reusable hook
  src/components/pages/talents/index.tsx
  src/components/searchBar/index.tsx
  src/hooks/index.ts
  src/hooks/useAdapter.ts
  src/hooks/useDebounce.ts
  src/hooks/useDebounceSearch.ts
  src/hooks/useFunctionMemo.ts
  src/hooks/useQuery.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(competitions): allow searching for competitions
  src/adapters/competition.ts
  src/components/pages/competitions/index.tsx
  src/components/pages/talents/index.tsx
  src/components/searchBar/index.tsx
  src/hooks/useDebounceSearch.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(homepage): add more content to home page
  package.json
  pnpm-lock.yaml
  src/adapters/index.ts
  src/adapters/misc.ts
  src/components/elements/image.tsx
  src/components/formik/input.tsx
  src/components/pages/home/_searchbar.scss
  src/components/pages/home/contactForm.tsx
  src/components/pages/home/content.tsx
  src/components/pages/home/home.module.scss
  src/components/pages/home/home.scss
  src/components/pages/home/index.tsx
  src/components/pages/home/problemSolving.svg
  src/images/companies/csc.svg
  src/images/companies/food4kids.png
  src/images/companies/kkcabinets.svg
  src/images/companies/wiss.png
  src/images/contact.svg
  src/images/logo.svg
  src/images/problemSolving.svg
  src/images/profile.svg
  src/images/sponsor.svg
  src/images/teamwork.svg
  src/images/under-construction.svg
  src/styles/_variables.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

update links
  src/components/footer/index.tsx
  src/components/nav/routes.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

perf: lazy-load homepage content
  public/index.html
  src/components/elements/image.tsx
  src/components/loadingDots/index.module.scss
  src/components/loadingDots/index.tsx
  src/components/pages/home/content.tsx
  src/components/pages/home/index.tsx
  src/images/contact.svg
  src/images/sponsor.svg
  src/images/teamwork.svg
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

fix(competition): fix caching issue
  src/adapters/competition.ts
  src/hooks/useDebounce.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(auth): compare against current user properly
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

remove console.log
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat: make homepage mobile-friendly
  src/components/pages/home/content.tsx
  src/components/pages/home/home.module.scss
  src/globals.ts
  src/styles/_utilities.scss
  src/styles/_variables.scss
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

update sc.png and compress images with tinypng
  public/images/android-chrome-192x192.png
  public/images/android-chrome-512x512.png
  public/images/apple-touch-icon.png
  public/images/favicon-16x16.png
  public/images/favicon-32x32.png
  public/images/mstile-150x150.png
  public/images/sc.png
  public/index.html
Due: prettier --write

deps: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: upgrade react-router and react-router-dom to v6
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/components/metaTags/index.tsx
  src/components/newProjectModal/index.tsx
  src/components/pages/auth/login.tsx
  src/components/pages/competitions/index.tsx
  src/components/pages/joinTeam/index.tsx
  src/components/pages/profile/index.tsx
  src/components/route/index.tsx
  src/hooks/useQuery.ts
  src/index.tsx
  src/pages/joinTeam.tsx
  src/pages/profile.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: bump sass to 1.45.1
  package.json
  pnpm-lock.yaml
  public/index.html
  src/components/nav/index.module.scss
  src/styles/_variables.scss
Due: prettier --write, stylelint --fix --cache --max-warnings=0

deps: bump react-scrpts to 5.0.0
  craco.config.js
  package.json
  pnpm-lock.yaml
  src/components/pages/home/content.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

deps: bump stylelint to 14.2.0
  .stylelintrc.js
  package.json
  pnpm-lock.yaml
  src/components/detailedItem/index.module.scss
  src/components/gridItem/index.module.scss
  src/components/loadingDots/index.module.scss
  src/components/nav/index.module.scss
  src/components/pages/404/index.module.scss
  src/components/pages/home/home.module.scss
  src/styles/_functions.scss
  src/styles/_utilities.scss
  src/styles/_variables.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix --cache --max-warnings=0

deps: bump @luke-zhang-04/react-simple-markdown-editor to 1.1.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

deps: bump @luke-zhang-04/utils to 1.7.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(theme): trim property value for Chrome
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

delete .env.development
  .env.development
Due: none

feat: add zxcvbn tool
  package.json
  pnpm-lock.yaml
  src/components/pages/auth/register.tsx
  src/components/pages/editProfile/index.tsx
  src/components/zxcvbn/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

update README
  README.md
Due: prettier --write

move away from Amplify
  legacy/amplify.yml
Due: prettier --write

update API url
  README.md
  src/globals.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

chore: use a material icons component
  src/components/materialIcons/index.module.scss
  src/components/materialIcons/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

add visually hidden loading to `LoadingDots`
  src/components/loadingDots/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

chore: use a material icons component
  src/components/bootstrap/toast.tsx
  src/components/detailedItem/index.tsx
  src/components/markdown/editor/editor.tsx
  src/components/markdown/heading.tsx
  src/components/nav/index.tsx
  src/components/newProjectModal/index.tsx
  src/components/pages/404/index.tsx
  src/components/pages/auth/login.tsx
  src/components/pages/auth/register.tsx
  src/components/pages/competition/buttons.tsx
  src/components/pages/competition/editModal.tsx
  src/components/pages/competition/index.tsx
  src/components/pages/editProfile/index.tsx
  src/components/pages/home/contactForm.tsx
  src/components/pages/home/index.tsx
  src/components/pages/project/editModal.tsx
  src/components/pages/project/index.tsx
  src/components/searchBar/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

use AOS for homepage
  package.json
  pnpm-lock.yaml
  src/components/pages/home/content.tsx
  src/components/pages/home/home.module.scss
  src/components/pages/home/index.tsx
  src/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0, stylelint --fix --cache --max-warnings=0

CI: prevent running CI twice on PR
  .github/workflows/build.yml
Due: prettier --write

CI: cache pnpm
  .github/workflows/build.yml
Due: prettier --write

deps: bump dateplus
  package.json
  pnpm-lock.yaml
Due: prettier --write
